@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eStore</h1>
    <p class="lead">You have something to sell or you want something to buy? This is the right place for you!</p>
    <p><a href="http://km150066d.azurewebsites.net/Auctions" class="btn btn-primary btn-lg">Search &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Selling</h2>
        <p>
            If you have something to sell, the first thing you need to do is to create an auction.
            After that the admin will at some point start the auction, and you can watch as your auction price
            gets greater and greater!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Searching and Buying</h2>
        <p>You want some product to buy, but you don't know what kind of product!
            Great! We have a searching system to help you with that!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tokens</h2>
        <p>You want something to buy, but don't have any tokens left?
           Dont't worry! With the help of Centili you can get them as many as you want!
        </p>
    </div>
</div>